<html>
	<head></head>
	<body>
		<h1>onigiritter</h1>
		<% if @info != nil %>
		<p clsss="info">
			<%= @info %>
		</p>
		<% end%>

		<p class="title">
			<% if @logined_user != nil %>
			user:<%= @logined_user %>  <%= link_to('LOGOUT' , { :controller => "home" , :action => "logout"}, { :class => "logout"}) %>

		<p class="form">
			<%= render 'shared/comment_form'%>
		</p>

		<% else%>
		LOGIN
		<p class="form">
			<%= render 'shared/login_form'%>
		</p>
		<% end%>
		</p>

		<p class="comment_view">
			<%= render 'shared/comment_view'%>
		</p>

	</body>
</html>
