<html>
	<head></head>
	<body>
		<h1>onigiritter</h1>
		<% if @info != nil %>
		<p style="color:red; ">
			<%= @info %>
		</p>
		<% end%>
		<p style="font-size:150%">
			LOGIN
		</p>
		<%= form_tag({:controller => 'home' , :action => 'login' }) do %>
		<div class="field">
			<%= label :user_name , "user name"%>
			<br>
			<%= text_field :user , :name%>
		</div>
		<div class="field">
			<%= label :user_password, "password" %>
			<br>
			<%= password_field :user, :password %>
		</div>
		<div class="actions">
			<%= submit_tag "Login" %>
		</div>
		<% end %>

		<%= link_to 'create new account' , new_user_path %>
		<br>
		<table>
			<% @users.each do |user|%>
			<tr>
				<td> User Name :: <%= user.user_name%> </td>
			</tr>
			<% end %>
		</table>
	</body>
</html>
